body {
    font-family: 'Baloo 2', cursive;
}
.Weather {
    border: 1px solid #fdb44b;
    background: linear-gradient(44.8deg, 
    rgba(255, 136, 102, 0.67) -53.1%, 
    rgba(255, 221, 136, 0.28) 49%);    
    border-radius: 5px;
    color: #00204a;
    padding: 16px;

}
.form-control {
    margin: 10px 0 auto;
}
.btn {
    background-color: #fdb44b;
    color: #00204a;
    border: #fdb44b;
    padding: 4px;
    font-size: 20px;
    margin: 10px 0 auto;
}
.btn-primary:hover {
   background-color: #00204a;
   color: #fdb44b;
   box-shadow: 0 0 0 3px #fdb44b;
   transition: 0.28s;
}
.city-name{
font-size: 45px;
margin: 12px;
}
.condition {
    text-transform: capitalize;
}
img {
    margin: 8px ;
}
.temp{
    font-size: 80px;
    line-height: 65px;
    
}
.tempUnit {
font-size: 25px;
}
.basic-info {
    list-style: none;
}
.added-info{
    list-style: none;
}
    